<footer class="py-3">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 gy-2">
            <div class="col order-last order-md-first text-center text-md-start">
                <span>&copy2024 Todd Myers</span><br/><span>toddm2770@gmail.com</span>
            </div>
            <div class="col text-center">
                <img src="/image/ContactHubLogo.png" class="ms-1" height="40">
            </div>
            <div class="col hstack gap-3 justify-content-center justify-content-md-end">
                <div><a href="#"><i class="bi bi-linkedin"></i></a></div>
                <div><a href="#"><i class="bi bi-github"></i></a></div>
                <div><a href="#"><i class="bi bi-envelope-fill"></i></a></div>
            </div>
        </div>
    </div>
</footer>

@code {

}
