.sideNav{

    border-radius: .5rem;
    border-color: var(--tm-theme-300);
    border-style: solid;
    border-width: 1px;
    background-color: var(--tm-theme-150);
    padding: 1rem;
    height: fit-content;
}

.sideNav .form-control, .sideNav .form-select{

    border-color: var(--tm-theme-900);
}