@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex h-100 flex-column justify-content-center container-xxl">
	<div class="row">
		<div class="col-12 col-md-6 d-flex flex-column">
			<h1>All Your Contacts In One Place</h1>
			<div class="subTitle">
				Organzie your contact and events by keeping everone in the loop. 
				Experience the power of Contact Hub, demo it today!
			</div>
			<div class="mt-2 fw-bold">Built with pride using cutting edge tech:</div>
			<div class="stackIcons">
				<i class="devicon-csharp-plain colored"></i>
				<i class="devicon-blazor-original colored"></i>
				<i class="devicon-dotnetcore-plain colored"></i>
				<i class="devicon-postgresql-plain colored"></i>
				<i class="devicon-bootstrap-plain colored"></i>
			</div>
			<div class="text-center text-md-start">
				<a href="contacts" class="btn btn-large btn-primary rounded-pill">Get Started</a>
			</div>
		</div>
		<div class="col-12 col-md-6 order-first order-md-last">
			<img src="image/undraw_mobile_profile_7hvy.svg" class="img-fluid" />
		</div>

	</div>
</div>
